@import url("https://fonts.googleapis.com/css2?family=Tiny5&display=swap");

* {
  font-family: "Tiny5", sans-serif;
  font-weight: 500;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 20px;
}

h1 {
  font-size: 3em;
  margin: 10px;
}

h2 {
  margin: 10px;
}

.border {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 508px;
  height: 508px;
  padding: 2px;
  border: 4px dashed #bababa;
}
.grid-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  border: 2px solid #bababa;
  width: 500px;
  height: 500px;
}

.btn {
  text-transform: uppercase;
  text-align: center;
  color: #725480;
  border: 2px solid #725480;
  background-color: #f5e6c0;
  height: 40px;
}

.btn:hover {
  color: #38293f;
  background-color: #f5dc9f;
  border: 2px solid #38293f;
}

.buttons {
  width: 100vw;
  display: flex;
  gap: 20px;
  margin-bottom: 10px;
  justify-content: center;
  align-items: center;
}

.slider {
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  text-decoration: none;
  color: #38293f;
}
